"""JianerCore plugin: $plugin_id."""

from jianer.plugins import PluginMetadata
from jianer.plugins.builtin.alconna import Command, UniMessage


__plugin_meta__ = PluginMetadata(
    name=$plugin_id_literal,
    description=$description_literal,
    usage=$usage_literal,
    requires={"jianerbot-plugin-alconna"},
)


@Command($command_literal).handle()
async def $handler_name():
    await UniMessage.send(UniMessage.text($reply_literal))
